pip install pandas
pip install nltk

# labeling
pip install transformers
pip install googletrans==3.1.0a0
pip install torch
pip install tensorFlow


# preprocessing
pip install openpyxl
pip install sastrawi
pip install swifter
pip install pipe

mysql --port=4306 -u root -p

pip install mysqlclient
pip install wheel
